<html>
  <title>로그인</title>
  <head>
    <body>
      <form action="/login" method="post">
        <label for="user_id">ID :</label>
        <input type="text" id="user_id" name="user_id" />
        <br />
        <label for="user_pw">PW :</label>
        <input type="text" id="user_pw" name="user_pw" />
        <br />
        <br />
        <input type="submit" value="로그인" />
      </form>
      <form action="signup.html" method="get">
        <input type="submit" value="회원가입 이동" />
      </form>
      <form action="/message" method="post">
        <input type="submit" value="메세지테스트" />
      </form>
      <form action="/test" method="post">
        <input type="submit" value="인서트테스트" />
      </form>
    </body>
  </head>
</html>
